body {
    background-color: blanchedalmond;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    z-index: 100;
}

#gameOverScreen {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
}

#gameStartScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: block;
    z-index: 2;
}

#skipButton {
    display: none;
    position: fixed;
    user-select: none;
    top: 0;
    right: 0;
    z-index: 50;
}

#helpButton {
    display: block;
    position: fixed;
    user-select: none;
    top: 0;
    right: 0;
    z-index: 50;
}

#closeButton {
    display: absolute;
    position: fixed;
    user-select: none;
    top: 0;
    right: 0;
    z-index: 100;
}

#helpScreen {
    background-color: rgba(200, 200, 200, 0.8);
    backdrop-filter: blur(5px);
    position: absolute;
    flex-direction: column;
    font-size: 15px;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    display: none;
    z-index: 50;
    padding-left: 20%;
    padding-right: 30%;
}

#Canvas {
    background-color: #509b66;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

@keyframes player {
    0% {
        background-position: 0 -22px;
    }

    100% {
        background-position: -288px -22px;
    }
}

@keyframes playerRunning {
    0% {
        background-position: 0 -211px;
    }

    4.166666666666667% {
        background-position: -48px -211px;
    }

    8.333333333333334% {
        background-position: -96px -211px;
    }

    12.5% {
        background-position: -144px -211px;
    }

    16.666666666666668% {
        background-position: -192px -211px;
    }

    20.833333333333336% {
        background-position: -240px -211px;
    }

    25% {
        background-position: 0 -259px;
    }

    29.166666666666668% {
        background-position: -48px -259px;
    }

    33.333333333333336% {
        background-position: -96px -259px;
    }

    37.5% {
        background-position: -144px -259px;
    }

    41.66666666666667% {
        background-position: -192px -259px;
    }

    45.833333333333336% {
        background-position: -240px -259px;
    }

    50% {
        background-position: 0 -307px;
    }

    54.16666666666667% {
        background-position: -48px -307px;
    }

    58.333333333333336% {
        background-position: -96px -307px;
    }

    62.5% {
        background-position: -144px -307px;
    }

    66.66666666666667% {
        background-position: -192px -307px;
    }

    70.83333333333334% {
        background-position: -240px -307px;
    }

    75% {
        background-position: 0px -355px;
    }

    79.16666666666667% {
        background-position: -48px -355px;
    }

    83.33333333333334% {
        background-position: -96px -355px;
    }

    87.5% {
        background-position: -144px -355px;
    }

    91.66666666666667% {
        background-position: -192px -355px;
    }

    95.83333333333334% {
        background-position: -240px -355px;
    }

    100% {
        background-position: 0px -403px;
    }
}

@keyframes playerCloseAttack {
    0% {
        background-position: 0 -406px;
    }

    6.25% {
        background-position: -48px -406px;
    }

    12.5% {
        background-position: -96px -406px;
    }

    18.75% {
        background-position: -144px -406px;
    }

    25% {
        background-position: 0 -454px;
    }

    31.25% {
        background-position: -48px -454px;
    }

    37.5% {
        background-position: -96px -454px;
    }

    43.75% {
        background-position: -144px -454px;
    }

    50% {
        background-position: 0px -502px;
    }

    56.25% {
        background-position: -48px -502px;
    }

    62.5% {
        background-position: -96px -502px;
    }

    68.75% {
        background-position: -144px -502px;
    }

    75% {
        background-position: 0px -550px;
    }

    81.25% {
        background-position: -48px -550px;
    }

    87.5% {
        background-position: -96px -550px;
    }

    93.75% {
        background-position: -144px -550px;
    }

    100% {
        background-position: 0px -598px;
    }
}

@keyframes playerShoot {
    0% {
        background-position: 0 -646px;
    }

    100% {
        background-position: -192px -646px;
    }
}

@keyframes playerRest {
    0% {
        background-position: 0 -70px;
    }

    10% {
        background-position: 0 -598px;
    }

    20% {
        background-position: -48px -598px;
    }

    30% {
        background-position: -96px -598px;
    }

    40% {
        background-position: -96px -598px;
    }

    50% {
        background-position: -96px -598px;
    }

    60% {
        background-position: -96px -598px;
    }

    70% {
        background-position: -96px -598px;
    }

    80% {
        background-position: -96px -598px;
    }

    90% {
        background-position: -96px -598px;
    }

    100% {
        background-position: -96px -598px;
    }
}

@keyframes monsters {
    0% {
        background-position: 0 -28px;
    }

    100% {
        background-position: -192px -28px;
    }
}

@keyframes obstacles {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -235px 0;
    }
}

@keyframes portal {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -256px 0;
    }
}

@keyframes speedItem {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -96px 0;
    }

}

#playerAnimation {
    width: 48px;
    height: 21px;
    background-image: url("../res/player.png");
    image-rendering: pixelated;
    animation: player 1s steps(6) infinite;
    transform: scale(2);
}

#playerRunningAnimation {
    width: 48px;
    height: 24px;
    background-image: url("../res/player.png");
    image-rendering: pixelated;
    animation: playerRunning 4s steps(1) infinite;
    transform: scale(2);
}

#playerCloseAttackAnimation {
    width: 48px;
    height: 26px;
    background-image: url("../res/player.png");
    image-rendering: pixelated;
    animation: playerCloseAttack 4s steps(1) infinite;
    transform: scale(2);
}

#playerShootAnimation {
    width: 48px;
    height: 21px;
    background-image: url("../res/player.png");
    image-rendering: pixelated;
    animation: playerShoot 1s steps(4) infinite;
    transform: scale(2);
}

#playerRestAnimation {
    width: 48px;
    height: 21px;
    background-image: url("../res/player.png");
    image-rendering: pixelated;
    animation: playerRest 2s steps(1) infinite;
    transform: scale(2);

}

#monsterAnimation {
    width: 45px;
    height: 15px;
    background-image: url("../res/skeleton1.png");
    image-rendering: pixelated;
    animation: monsters 0.67s steps(4) infinite;
    transform: scale(2.8);
    margin-left: 3px;
}

#rangedMonsterAnimation {
    width: 45px;
    height: 15px;
    background-image: url("../res/skeleton2.png");
    image-rendering: pixelated;
    animation: monsters 0.67s steps(4) infinite;
    transform: scale(2.8);
    margin-left: 3px;
}

#bomberAnimation {
    width: 46px;
    height: 15px;
    background-image: url("../res/skull.png");
    image-rendering: pixelated;
    animation: monsters 0.67s steps(4) infinite;
    transform: scale(2.9);
    margin-left: 2px;
}

#obstacleAnimation {
    width: 47px;
    height: 64px;
    background-image: url("../res/tree.png");
    image-rendering: pixelated;
    animation: obstacles 5s steps(5) infinite;
    transform: scale(1);
    top: 10px;
}

#portalAnimation {
    width: 32px;
    height: 32px;
    background-image: url("../res/portal.png");
    image-rendering: pixelated;
    animation: portal 1s steps(8) infinite;
    transform: scale(1.5);
    margin-top: 8px !important;
    margin-left: 8px;
    margin-right: 8px !important;
}

#speedItemAnimation {
    width: 24px;
    height: 39px;
    background-image: url("../res/speedItem.png");
    image-rendering: pixelated;
    animation: speedItem 4s steps(4) infinite;
    transform: scale(1.5);
    margin-top: 12px !important;
    margin-left: 12px;
    margin-right: 12px !important;
}

#shieldItemAnimation {
    width: 16px;
    height: 16px;
    background-image: url("../res/shieldItem.png");
    image-rendering: pixelated;
    transform: scale(3);
    margin-top: 12px !important;
    margin-left: 16px;
    margin-right: 16px !important;
}

#dropLootAnimation {
    width: 16px;
    height: 16px;
    background-image: url("../res/dropLoot.png");
    image-rendering: pixelated;
    transform: scale(3);
    margin-top: 12px !important;
    margin-left: 16px;
    margin-right: 16px !important;
}

.introduction {
    position: relative;
}

.tab {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    position: relative;
}

.animation {
    position: relative;
    top: 15px;
    left: 0;
}

.text {
    position: relative;
    width: 80%;
    left: 60px;
}